.sidebar {
	position: sticky;
	margin-top: 0;
	flex: .33;
	padding: 30px 10px;
}

* {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.name {
	font-size: 16px;
	text-decoration: none;
}
